			html{
				
			}

			body{
				background-image: url(..img/linen.png);
			}

			#wrapper{
				margin: 0 auto;
				width: 760px;
				background: #aaa;
				padding: 5px;
				color: #663399;
				font-family: 'Exo', sans-serif;
			}

			table, th{
				border: 3px solid #aaa;
				width: 760px;
				color: #003366;
			}

			td{
				border: 2px solid #bbb;
				text-align: right;
				padding: 2px;
			}

			th{
				text-align: left;
				border: 2px solid #ff3333;
				background:  #ff9999;
			}