			html{
				
			}

			body{
				background-image: url('../images/linen.png');
			}

			#wrapper{
				margin: 0 auto;
				width: 760px;
				background-image: url('../images/noise.png');
				border: 2px solid #aaa;
				border-radius: 25px;
				padding: 5px;
				color: #663399;
				font-family: 'Exo', sans-serif;
			}

			table, th{
				border: 3px solid #aaa;
				width: 760px;
				color: #003366;
			}

			td{
				border: 2px solid #bbb;
				text-align: right;
				padding: 2px;
				font-weight: 100;
				color: #000;
			}

			th{
				text-align: left;
				background:  #ff9999;
				font-weight: 400;
			}